.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
readme.md
.idea
.vscode
build/
.dart_tool/
.packages
.pub-cache/
pubspec.lock
landing-page/node_modules
landing-page/.next

# Ignore native platforms for web build to speed up context
android/
ios/
macos/
linux/
windows/
test/
